Repository feerglas/stencil-storybook-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:tsx, npm run lint:ts, npm run lint:js, npm run lint:scss

add lint issue on purpose
  src/components/my-component/my-component.scss
Due: npm run lint:scss

remove lint-staged config
  .lintstagedrc
Due: none

add lint script
  .husky/pre-push
Due: none

fix linting issue
  src/components/my-component/my-component.scss
Due: npm run lint:scss

add description about event extraction
  stencil-build-helpers/rollup/event-sync.ts
Due: npm run lint:ts

use tsx estension
  src/components/my-component/my-component.stories.tsx
Due: npm run lint:tsx

add note about linting
  readme.md
Due: none

update after install
  package-lock.json
Due: none

add todo
  TODO.md
Due: none

add script to generate boilerplate for component
  convenience/generate-component/index.js
Due: npm run lint:js

add script for boilerplate generation
  package.json
Due: none

add notes about project extras
  readme.md
Due: none

add output target for docs and hydration script
  stencil.config.ts
Due: npm run lint:ts

remove sample attributes and utils
  src/components.d.ts
  src/components/my-component/my-component.stories.tsx
  src/components/my-component/my-component.tsx
  src/components/my-component/readme.md
  src/utils/utils.spec.ts
  src/utils/utils.ts
Due: npm run lint:tsx, npm run lint:ts

add hydrate scripts
  hydrate/index.d.ts
  hydrate/index.js
  hydrate/package.json
Due: npm run lint:ts, npm run lint:js

add wip boilerplate component files
  convenience/generate-component/boilerplate/component.custom.d.ts
  convenience/generate-component/boilerplate/component.e2e.ts
  convenience/generate-component/boilerplate/component.events.ts
  convenience/generate-component/boilerplate/component.scss
  convenience/generate-component/boilerplate/component.spec.ts
  convenience/generate-component/boilerplate/component.stories.js
  convenience/generate-component/boilerplate/component.tsx
  convenience/generate-component/boilerplate/readme.md
Due: npm run lint:tsx, npm run lint:ts, npm run lint:js, npm run lint:scss

add obsolete folders
  .eslintignore
Due: none

install @storybook/html-vite and uninstall @storybook/html-webpack5
  package-lock.json
  package.json
Due: none

add test ignore paths
  stencil.config.ts
Due: npm run lint:ts

use vite
  .storybook/main.ts
Due: npm run lint:ts

update notice about starting the project
  readme.md
Due: none

add sample interface
  src/components/my-component/my-component.d.ts
Due: npm run lint:ts

add sample interface and variant
  src/components/my-component/my-component.tsx
Due: npm run lint:tsx

fix vite-md import, add stories
  src/components/my-component/my-component.stories.tsx
Due: npm run lint:tsx

fix tests
  src/components/my-component/my-component.spec.ts
Due: npm run lint:ts

fix tests
  src/components/my-component/my-component.e2e.ts
Due: npm run lint:ts

add styling for variants
  src/components/my-component/my-component.scss
Due: npm run lint:scss

update after build
  hydrate/index.js
  src/components.d.ts
  src/components/my-component/readme.md
Due: npm run lint:ts, npm run lint:js

add custom tag to filename
  src/components/my-component/my-component.custom.d.ts
Due: npm run lint:ts

import interface with custom tag
  src/components/my-component/my-component.tsx
Due: npm run lint:tsx

update after build
  src/components.d.ts
Due: npm run lint:ts

add proper up to date boilerplate files
  convenience/generate-component/boilerplate/component.custom.d.ts
  convenience/generate-component/boilerplate/component.e2e.ts
  convenience/generate-component/boilerplate/component.events.ts
  convenience/generate-component/boilerplate/component.scss
  convenience/generate-component/boilerplate/component.spec.ts
  convenience/generate-component/boilerplate/component.stories.js
  convenience/generate-component/boilerplate/component.stories.tsx
  convenience/generate-component/boilerplate/component.tsx
  convenience/generate-component/boilerplate/readme.md
Due: npm run lint:tsx, npm run lint:ts, npm run lint:js, npm run lint:scss

update after build
  hydrate/index.js
  hydrate/package.json
Due: npm run lint:js

remove todos
  TODO.md
Due: none

add a project config file
  project-config.js
Due: npm run lint:js

add notes about configuration, testing, events
  readme.md
Due: none

use project config
  stencil.config.ts
Due: npm run lint:ts

use project config
  convenience/generate-component/index.js
Due: npm run lint:js

use project config
  stencil-build-helpers/rollup/event-sync.ts
Due: npm run lint:ts

add example for prefix
  project-config.js
Due: npm run lint:js

Path conditions:
  npm run lint:tsx: any of: *.tsx
  npm run lint:ts: any of: *.ts
  npm run lint:js: any of: *.js
  npm run lint:scss: any of: *.scss
