Repository feerglas/stencil-storybook-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:tsx, npm run lint:ts, npm run lint:js, npm run lint:scss

remove event notice
  readme.md
Due: none

fix heading levels
  readme.md
Due: none

remove start note
  readme.md
Due: none

update description
  readme.md
Due: none

update unpkg name
  package.json
Due: none

chore: install commitlint
  package-lock.json
  package.json
Due: none

chore: add commitlint config
  commitlint.config.js
Due: npm run lint:js

chore: add husky hook for commit-msg
  .husky/commit-msg
Due: none

chore: introduce more sophisticated css architecture
  .eslintrc.js
  .storybook/preview-head.html
  convenience/generate-component/boilerplate/component.scss
  convenience/generate-component/boilerplate/styles/component.component.scss
  convenience/generate-component/boilerplate/styles/component.default.scss
  convenience/generate-component/boilerplate/styles/component.shared.scss
  convenience/generate-component/index.js
  hydrate/index.js
  src/components.d.ts
  src/components/my-component/my-component.scss
  src/components/my-component/my-component.tsx
  src/components/my-component/styles/my-component.component.scss
  src/components/my-component/styles/my-component.default.scss
  src/components/my-component/styles/my-component.shared.scss
  src/components/my-second-component/my-second-component.custom.d.ts
  src/components/my-second-component/my-second-component.e2e.ts
  src/components/my-second-component/my-second-component.events.ts
  src/components/my-second-component/my-second-component.spec.ts
  src/components/my-second-component/my-second-component.stories.tsx
  src/components/my-second-component/my-second-component.tsx
  src/components/my-second-component/readme.md
  src/components/my-second-component/styles/my-second-component.component.scss
  src/components/my-second-component/styles/my-second-component.default.scss
  src/components/my-second-component/styles/my-second-component.shared.scss
  src/global/core/components/utilities.scss
  src/global/core/shared/font-face.scss
  src/global/core/shared/inherited.scss
  src/global/core/shared/normalize.scss
  src/global/core/shared/variables.scss
  src/global/functions.scss
  src/global/global.default.scss
  src/global/global.scss
  src/global/global.shared.scss
  src/global/global.ts
  src/global/mediaqueries.scss
  src/global/mixins.scss
  src/global/mixins/mixins_typo.scss
  src/interface.d.ts
  stencil.config.ts
Due: npm run lint:tsx, npm run lint:ts, npm run lint:js, npm run lint:scss

chore: update after build
  hydrate/index.js
  src/components.d.ts
Due: npm run lint:ts, npm run lint:js

chore: remove sample component
  src/components/my-second-component/my-second-component.custom.d.ts
  src/components/my-second-component/my-second-component.e2e.ts
  src/components/my-second-component/my-second-component.events.ts
  src/components/my-second-component/my-second-component.spec.ts
  src/components/my-second-component/my-second-component.stories.tsx
  src/components/my-second-component/my-second-component.tsx
  src/components/my-second-component/readme.md
  src/components/my-second-component/styles/my-second-component.component.scss
  src/components/my-second-component/styles/my-second-component.default.scss
  src/components/my-second-component/styles/my-second-component.shared.scss
Due: npm run lint:tsx, npm run lint:ts, npm run lint:scss

chore: exclude boilerplate scss
  .stylelintrc.json
Due: none

Path conditions:
  npm run lint:tsx: any of: *.tsx
  npm run lint:ts: any of: *.ts
  npm run lint:js: any of: *.js
  npm run lint:scss: any of: *.scss
